<a href="https://colab.research.google.com/github/GRIN-96/Project_/blob/main/%EB%AF%B8%EB%8B%88_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8_1_%EC%B5%9C%EB%AF%BC%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install plotly   #plotly 설치

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)

In [ ]:
pip install --upgrade plotly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)

In [ ]:
import plotly.io as pio # Plotly input output
import plotly.express as px # 빠르게 그리는 방법
import plotly.graph_objects as go # 디테일한 설정
import plotly.figure_factory as ff # 템플릿 불러오기
from plotly.subplots import make_subplots # subplot 만들기
from plotly.validators.scatter.marker import SymbolValidator # Symbol 꾸미기에 사용됨
import numpy as np
import pandas as pd
from urllib.request import urlopen
import json

# 소비자 물가지수 기본금리

In [ ]:
df11 = pd.read_excel('/content/품목성질별_소비자물가지수_2020100__20220727184250.xlsx')    # 통계청자료 excel 불러오기
df11

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시도별,시점,총지수,상품,농축수산물,공업제품,전기 · 가스 · 수도,서비스,집세,공공서비스,개인서비스
0,전국,2017.11,97.347,97.387,87.968,99.399,100.415,97.341,99.639,101.958,94.753
1,NaN,2017.12,97.698,97.939,90.058,99.635,100.438,97.490,99.648,102.038,94.987
2,NaN,2018.01,98.106,98.307,92.106,99.615,100.472,97.938,99.725,102.757,95.418
3,NaN,2018.02,98.855,99.431,96.765,99.969,100.541,98.395,99.792,102.707,96.200
4,NaN,2018.03,98.751,98.947,93.794,100.047,100.576,98.600,99.821,102.587,96.586
5,NaN,2018.04,98.931,99.063,94.180,100.097,100.576,98.843,99.859,102.517,97.027
6,NaN,2018.05,98.979,99.015,92.509,100.460,100.576,98.974,99.898,102.557,97.215
7,NaN,2018.06,98.779,98.782,90.217,100.735,100.576,98.768,99.898,102.497,96.883
8,NaN,2018.07,98.590,98.133,90.771,100.430,93.921,98.983,99.917,102.447,97.269
9,NaN,2018.08,99.462,99.799,99.166,100.607,93.898,99.198,99.936,102.417,97.638
10,NaN,2018.09,100.221,101.639,104.874,100.804,101.897,99.086,99.936,102.238,97.530
11,NaN,2018.10,100.041,101.116,100.207,101.265,101.886,99.160,99.946,102.228,97.656
12,NaN,2018.11,99.330,99.770,94.641,100.813,101.886,98.992,99.955,102.138,97.404
13,NaN,2018.12,98.988,99.024,94.700,99.773,101.886,98.983,99.936,102.108,97.404
14,NaN,2019.01,98.884,98.375,94.406,98.967,101.874,99.310,99.926,102.497,97.799
15,NaN,2019.02,99.311,98.734,95.397,99.213,101.840,99.785,99.917,102.437,98.653
16,NaN,2019.03,99.121,98.482,93.525,99.350,101.851,99.636,99.879,102.268,98.473
17,NaN,2019.04,99.481,99.179,94.801,99.969,101.851,99.739,99.840,102.248,98.653
18,NaN,2019.05,99.652,99.518,93.634,100.725,101.851,99.776,99.811,102.317,98.707
19,NaN,2019.06,99.491,99.179,91.804,100.725,101.851,99.748,99.744,102.278,98.698
20,NaN,2019.07,99.187,98.220,90.511,100.391,95.863,99.981,99.725,102.317,99.075
21,NaN,2019.08,99.425,98.462,91.955,100.362,96.013,100.205,99.696,102.367,99.435
22,NaN,2019.09,99.794,100.012,96.320,100.568,103.403,99.617,99.696,101.030,99.003
23,NaN,2019.10,100.041,100.293,96.421,100.912,103.414,99.841,99.706,101.230,99.282
24,NaN,2019.11,99.481,99.295,92.064,100.637,103.426,99.645,99.715,101.170,98.985
25,NaN,2019.12,99.719,99.809,93.953,100.872,103.403,99.655,99.735,101.150,99.003
26,NaN,2020.01,100.090,100.390,95.630,101.240,103.390,99.830,99.790,100.830,99.420
27,NaN,2020.02,100.160,100.350,94.730,101.400,103.390,99.980,99.810,100.760,99.720
28,NaN,2020.03,99.940,100.080,96.570,100.610,103.220,99.820,99.830,100.610,99.490
29,NaN,2020.04,99.500,99.040,95.780,99.420,103.130,99.910,99.860,100.590,99.650
30,NaN,2020.05,99.440,98.890,96.980,98.930,103.130,99.920,99.880,100.460,99.710
31,NaN,2020.06,99.710,99.410,97.400,99.540,103.050,99.980,99.910,100.420,99.810
32,NaN,2020.07,99.630,99.040,98.450,99.920,91.600,100.150,99.960,100.470,100.090
33,NaN,2020.08,100.190,99.910,103.300,99.890,91.820,100.440,100.030,100.600,100.510
34,NaN,2020.09,100.740,101.340,108.680,99.770,99.320,100.220,100.090,100.310,100.220
35,NaN,2020.10,100.180,101.330,108.450,99.810,99.330,99.170,100.190,95.110,100.530
36,NaN,2020.11,100.090,99.970,101.740,99.610,99.330,100.190,100.280,99.720,100.350
37,NaN,2020.12,100.330,100.250,102.300,99.860,99.270,100.390,100.370,100.120,100.510
38,NaN,2021.01,101.040,101.210,105.700,100.420,98.210,100.890,100.460,100.880,101.030
39,NaN,2021.02,101.580,102.070,109.970,100.550,98.200,101.160,100.640,100.840,101.460
40,NaN,2021.03,101.840,102.400,109.410,101.130,98.200,101.350,100.840,100.930,101.690
41,NaN,2021.04,101.980,102.430,108.400,101.410,98.200,101.590,100.980,100.960,102.040
42,NaN,2021.05,102.050,102.390,107.940,101.470,98.200,101.750,101.140,100.970,102.270
43,NaN,2021.06,102.050,102.330,106.630,101.700,98.210,101.820,101.250,100.980,102.340
44,NaN,2021.07,102.260,102.380,106.810,102.340,92.060,102.140,101.390,101.050,102.830
45,NaN,2021.08,102.750,103.090,109.060,102.740,92.060,102.450,101.580,101.060,103.300
46,NaN,2021.09,103.170,104.210,112.010,102.800,99.460,102.260,101.760,101.020,102.930
47,NaN,2021.10,103.350,104.380,109.010,103.630,100.670,102.460,101.930,100.890,103.280
48,NaN,2021.11,103.870,105.330,109.470,104.790,100.670,102.590,102.180,100.920,103.410
49,NaN,2021.12,104.040,105.270,110.300,104.510,100.690,102.970,102.420,101.010,103.960
50,NaN,2022.01,104.690,105.740,112.310,104.610,101.100,103.780,102.570,101.820,104.970
51,NaN,2022.02,105.300,106.460,111.720,105.730,101.070,104.290,102.730,101.780,105.820
52,NaN,2022.03,106.060,107.890,109.890,108.080,101.070,104.470,102.880,101.510,106.200
53,NaN,2022.04,106.850,109.190,110.420,109.320,104.880,104.800,102.990,101.640,106.680
54,NaN,2022.05,107.560,110.160,112.450,109.860,107.620,105.280,103.130,101.650,107.470
55,NaN,2022.06,108.220,111.040,111.800,111.190,107.660,105.750,103.220,101.710,108.230

In [ ]:
df2 = df11.copy() # 원본 훼손을 막기위한 카피

In [ ]:
df2.head()

,시도별,시점,총지수,상품,농축수산물,공업제품,전기 · 가스 · 수도,서비스,집세,공공서비스,개인서비스
0,전국,2017.11,97.347,97.387,87.968,99.399,100.415,97.341,99.639,101.958,94.753
1,NaN,2017.12,97.698,97.939,90.058,99.635,100.438,97.490,99.648,102.038,94.987
2,NaN,2018.01,98.106,98.307,92.106,99.615,100.472,97.938,99.725,102.757,95.418
3,NaN,2018.02,98.855,99.431,96.765,99.969,100.541,98.395,99.792,102.707,96.200
4,NaN,2018.03,98.751,98.947,93.794,100.047,100.576,98.600,99.821,102.587,96.586

In [ ]:
df2.pop('시도별')   # 컬럼명 '시도별'을 제외하기

0      전국
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
32    NaN
33    NaN
34    NaN
35    NaN
36    NaN
37    NaN
38    NaN
39    NaN
40    NaN
41    NaN
42    NaN
43    NaN
44    NaN
45    NaN
46    NaN
47    NaN
48    NaN
49    NaN
50    NaN
51    NaN
52    NaN
53    NaN
54    NaN
55    NaN
Name: 시도별, dtype: object

In [ ]:
df2.rename(columns = {'시점' : '연/월'}, inplace = True)    # 컬럼명 변경 ( 보기 편하게 )

df2.head()

,연/월,총지수,상품,농축수산물,공업제품,전기 · 가스 · 수도,서비스,집세,공공서비스,개인서비스
0,2017.11,97.347,97.387,87.968,99.399,100.415,97.341,99.639,101.958,94.753
1,2017.12,97.698,97.939,90.058,99.635,100.438,97.490,99.648,102.038,94.987
2,2018.01,98.106,98.307,92.106,99.615,100.472,97.938,99.725,102.757,95.418
3,2018.02,98.855,99.431,96.765,99.969,100.541,98.395,99.792,102.707,96.200
4,2018.03,98.751,98.947,93.794,100.047,100.576,98.600,99.821,102.587,96.586

In [ ]:
df2['연/월'] = df2['연/월'].astype(str)    # 문자열로 변경해 준다.
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   연/월           56 non-null     object
 1   총지수           56 non-null     float64
 2   상품            56 non-null     float64
 3   농축수산물         56 non-null     float64
 4   공업제품          56 non-null     float64
 5   전기 · 가스 · 수도  56 non-null     float64
 6   서비스           56 non-null     float64
 7   집세            56 non-null     float64
 8   공공서비스         56 non-null     float64
 9   개인서비스         56 non-null     float64
dtypes: float64(9), object(1)
memory usage: 4.5+ KB

In [ ]:
df2= df2.replace('2019.1','2019.10')   #정수 형 형태에서 .10에서 떨어진 0 문자열 상태에서 다시 붙여주기
df2

,연/월,총지수,상품,농축수산물,공업제품,전기 · 가스 · 수도,서비스,집세,공공서비스,개인서비스
0,2017.11,97.347,97.387,87.968,99.399,100.415,97.341,99.639,101.958,94.753
1,2017.12,97.698,97.939,90.058,99.635,100.438,97.490,99.648,102.038,94.987
2,2018.01,98.106,98.307,92.106,99.615,100.472,97.938,99.725,102.757,95.418
3,2018.02,98.855,99.431,96.765,99.969,100.541,98.395,99.792,102.707,96.200
4,2018.03,98.751,98.947,93.794,100.047,100.576,98.600,99.821,102.587,96.586
5,2018.04,98.931,99.063,94.180,100.097,100.576,98.843,99.859,102.517,97.027
6,2018.05,98.979,99.015,92.509,100.460,100.576,98.974,99.898,102.557,97.215
7,2018.06,98.779,98.782,90.217,100.735,100.576,98.768,99.898,102.497,96.883
8,2018.07,98.590,98.133,90.771,100.430,93.921,98.983,99.917,102.447,97.269
9,2018.08,99.462,99.799,99.166,100.607,93.898,99.198,99.936,102.417,97.638
10,2018.09,100.221,101.639,104.874,100.804,101.897,99.086,99.936,102.238,97.530
11,2018.10,100.041,101.116,100.207,101.265,101.886,99.160,99.946,102.228,97.656
12,2018.11,99.330,99.770,94.641,100.813,101.886,98.992,99.955,102.138,97.404
13,2018.12,98.988,99.024,94.700,99.773,101.886,98.983,99.936,102.108,97.404
14,2019.01,98.884,98.375,94.406,98.967,101.874,99.310,99.926,102.497,97.799
15,2019.02,99.311,98.734,95.397,99.213,101.840,99.785,99.917,102.437,98.653
16,2019.03,99.121,98.482,93.525,99.350,101.851,99.636,99.879,102.268,98.473
17,2019.04,99.481,99.179,94.801,99.969,101.851,99.739,99.840,102.248,98.653
18,2019.05,99.652,99.518,93.634,100.725,101.851,99.776,99.811,102.317,98.707
19,2019.06,99.491,99.179,91.804,100.725,101.851,99.748,99.744,102.278,98.698
20,2019.07,99.187,98.220,90.511,100.391,95.863,99.981,99.725,102.317,99.075
21,2019.08,99.425,98.462,91.955,100.362,96.013,100.205,99.696,102.367,99.435
22,2019.09,99.794,100.012,96.320,100.568,103.403,99.617,99.696,101.030,99.003
23,2019.10,100.041,100.293,96.421,100.912,103.414,99.841,99.706,101.230,99.282
24,2019.11,99.481,99.295,92.064,100.637,103.426,99.645,99.715,101.170,98.985
25,2019.12,99.719,99.809,93.953,100.872,103.403,99.655,99.735,101.150,99.003
26,2020.01,100.090,100.390,95.630,101.240,103.390,99.830,99.790,100.830,99.420
27,2020.02,100.160,100.350,94.730,101.400,103.390,99.980,99.810,100.760,99.720
28,2020.03,99.940,100.080,96.570,100.610,103.220,99.820,99.830,100.610,99.490
29,2020.04,99.500,99.040,95.780,99.420,103.130,99.910,99.860,100.590,99.650
30,2020.05,99.440,98.890,96.980,98.930,103.130,99.920,99.880,100.460,99.710
31,2020.06,99.710,99.410,97.400,99.540,103.050,99.980,99.910,100.420,99.810
32,2020.07,99.630,99.040,98.450,99.920,91.600,100.150,99.960,100.470,100.090
33,2020.08,100.190,99.910,103.300,99.890,91.820,100.440,100.030,100.600,100.510
34,2020.09,100.740,101.340,108.680,99.770,99.320,100.220,100.090,100.310,100.220
35,2020.10,100.180,101.330,108.450,99.810,99.330,99.170,100.190,95.110,100.530
36,2020.11,100.090,99.970,101.740,99.610,99.330,100.190,100.280,99.720,100.350
37,2020.12,100.330,100.250,102.300,99.860,99.270,100.390,100.370,100.120,100.510
38,2021.01,101.040,101.210,105.700,100.420,98.210,100.890,100.460,100.880,101.030
39,2021.02,101.580,102.070,109.970,100.550,98.200,101.160,100.640,100.840,101.460
40,2021.03,101.840,102.400,109.410,101.130,98.200,101.350,100.840,100.930,101.690
41,2021.04,101.980,102.430,108.400,101.410,98.200,101.590,100.980,100.960,102.040
42,2021.05,102.050,102.390,107.940,101.470,98.200,101.750,101.140,100.970,102.270
43,2021.06,102.050,102.330,106.630,101.700,98.210,101.820,101.250,100.980,102.340
44,2021.07,102.260,102.380,106.810,102.340,92.060,102.140,101.390,101.050,102.830
45,2021.08,102.750,103.090,109.060,102.740,92.060,102.450,101.580,101.060,103.300
46,2021.09,103.170,104.210,112.010,102.800,99.460,102.260,101.760,101.020,102.930
47,2021.10,103.350,104.380,109.010,103.630,100.670,102.460,101.930,100.890,103.280
48,2021.11,103.870,105.330,109.470,104.790,100.670,102.590,102.180,100.920,103.410
49,2021.12,104.040,105.270,110.300,104.510,100.690,102.970,102.420,101.010,103.960
50,2022.01,104.690,105.740,112.310,104.610,101.100,103.780,102.570,101.820,104.970
51,2022.02,105.300,106.460,111.720,105.730,101.070,104.290,102.730,101.780,105.820
52,2022.03,106.060,107.890,109.890,108.080,101.070,104.470,102.880,101.510,106.200
53,2022.04,106.850,109.190,110.420,109.320,104.880,104.800,102.990,101.640,106.680
54,2022.05,107.560,110.160,112.450,109.860,107.620,105.280,103.130,101.650,107.470
55,2022.06,108.220,111.040,111.800,111.190,107.660,105.750,103.220,101.710,108.230

In [ ]:
df3 = pd.melt(df2, id_vars=['연/월'], var_name='품목성질', value_name = '물가지수')    # melt 함수로 컬럼구별
df3.head()

       연/월 품목성질    물가지수
0  2017.11  총지수  97.347
1  2017.12  총지수  97.698
2  2018.01  총지수  98.106
3  2018.02  총지수  98.855
4  2018.03  총지수  98.751

In [ ]:
df3 = df3[df3.품목성질== '총지수']    # 품목 성질이 총지수 인것만 출력

In [ ]:
df3 = df3.loc[[0,12,20,23,28,30,45,48,50,53,54]]     # 금리 데이터와 비교해야 하기 때문에 자료에서 금리데이터와 같은 연/월 데이터가 오도록 맞춰준다.
df3

        연/월 품목성질     물가지수
0   2017.11  총지수   97.347
12  2018.11  총지수   99.330
20  2019.07  총지수   99.187
23  2019.10  총지수  100.041
28  2020.03  총지수   99.940
30  2020.05  총지수   99.440
45  2021.08  총지수  102.750
48  2021.11  총지수  103.870
50  2022.01  총지수  104.690
53  2022.04  총지수  106.850
54  2022.05  총지수  107.560

#기준 금리

In [ ]:
!pip install beautifulsoup4
import pandas as pd
import requests
import bs4
import plotly.express as px 
# 기준금리 (2017년 11월~ 2022년 5월)
## 크롤링
url = 'https://www.bok.or.kr/portal/singl/baseRate/list.do?dataSeCd=01&menuNo=200643'

response = requests.get(url)  #요청

html = response.text     

base_rate = bs4.BeautifulSoup(html)

elements = base_rate.find_all('td')    # 답장


## 데이터 프레임 만들기

list1 = [elements[i].text for i in range(0,len(elements))] 

list2 = [' '.join(list1[j:j+3]) for j in range(0,len(list1),3)]

list2 = list2[::-1][39:-1]   # 2017년 데이터부터 필요하기 때문에 인덱싱처리로 자료 정리

date = [a.split(' ')[0] + "-" + a.split(' ')[1] for a in list2]

base_rate = [float(a.split(' ')[3]) for a in list2]


df = pd.DataFrame({'Date' : date, 'BaseRate' : base_rate}) # 데이터프레임

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
df

        Date  BaseRate
0   2017-11월      1.50
1   2018-11월      1.75
2   2019-07월      1.50
3   2019-10월      1.25
4   2020-03월      0.75
5   2020-05월      0.50
6   2021-08월      0.75
7   2021-11월      1.00
8   2022-01월      1.25
9   2022-04월      1.50
10  2022-05월      1.75

In [ ]:
Date_range = {'Date' : {'2017-11월':'2017.11',         # 소비자 물가지수와 같은 x축 표기명을 위해 value명 정정
                        '2018-11월':'2018.11',
                        '2019-07월':'2019.07',
                        '2019-10월':'2019.10',
                        '2020-03월':'2020.03',
                        '2020-05월':'2020.05',
                        '2021-08월':'2021.08',
                        '2021-11월':'2021.11',
                        '2022-01월':'2022.01',
                        '2022-04월':'2022.04',
                        '2022-05월':'2022.05'}}
df1 = df.replace(Date_range)
df1

       Date  BaseRate
0   2017.11      1.50
1   2018.11      1.75
2   2019.07      1.50
3   2019.10      1.25
4   2020.03      0.75
5   2020.05      0.50
6   2021.08      0.75
7   2021.11      1.00
8   2022.01      1.25
9   2022.04      1.50
10  2022.05      1.75

#시각화

In [ ]:
from plotly.graph_objs import Line
from plotly.graph_objs import Bar
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# from plotly.graph_objs.scatter.marker import Line
# # from plotly.graph_objs import Bar

In [ ]:
fig = make_subplots(rows=1, cols=2, 
                    subplot_titles=('<b>소비자 물가지수</b>','<b>기준 금리</b>'))   # 왼쪽 오른쪽 순으로 그래프 title 작성 <b></b 사이에 글 작성시 폰트 진하게
fig.add_trace(go.Line(x=df3['연/월'],y=df3['물가지수'],             # x축, y축 에 입력될 값 매칭
                     name='물가지수', marker_color='red'), row=1, col=1)        #범례 명과 그래프 색상 그래프 위치 지정
fig.add_trace(go.Bar(x=df1['Date'],y=df1['BaseRate'], 
                     name='기준금리', marker_color='green'), row=1, col=2)
fig.update_layout(title_text='<b>소비자 물가지수와 기준금리 변동추이에 따른 상관관계</b>', title_x=0.5, title_font_size=20  )  # main title 설정


fig.show()